<div class="p-2"></div>
<div class=" d-flex justify-content-center align-content-center">
<div class="card w-50" matTooltip="Hello this my Profile">
  <div class="car-header header">
    <div class="row">
      <div class="col col-sm-12 col-md-auto">
        <img class="profile" src="https://freeasphosting.net/images/logo-trans.png">
      </div>
      <div class="col col-sm-12 col-md-auto">
        <p><code class="h5">Eng.</code> &nbsp;
          <span class="h2"> Mohand Salah Ahmed</span></p>
      </div>
    </div>

  </div>
  <div class="card-body h4">
    <div class="row text-center h4">
      <p class=" text-black-50">Software Developer</p>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="row">
      <div class="col col-sm-12 col-md-auto">Email</div>
      <div class="col col-sm-12 col-md-auto"><a href="mail:eng.mohand.salah@gmail.com">eng.mohand.salah@gmail.com</a></div>
    </div>
    <div class="row">
      <div class="col col-sm-12 col-md-auto">
        Call
        <img src="../../../assets/images/whatsapp.ico" class="wp">
        </div>
      <div class="col col-sm-12 col-md-auto"><a href="tel:97430565883">+974-30565883</a></div>
    </div>

  </div>
</div>
</div>
<div class="p-2"></div>
<div class="row">
 <div class="card">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>touch_app</mat-icon>
        Attendees System
      </ng-template>
      <div class=" container container-fluid">
        <div class="row">
        <p class="h5 text-black-50">Info...</p>
        <p >Attendees system for track employee using Card barcode
           and (face recognize ...soon) using your Android tablet</p>
        <p >
         <code>Visite Demo</code>  <a href="#">Demo</a>
        </p>
        <table  class="w-25 h6 table table-striped table-hover table-responsive-md">
          <thead class=" bg-info">
            <tr>
              <td>Usernname</td>
              <td>Password</td>
              <td>Rule</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>admin</td>
              <td>admin</td>
              <td>admin</td>
            </tr>

          </tbody>
        </table>
      <div class="row border border-1 border-secondary">
        <p class="col col-sm-12 col-md-auto">Framework</p>
        <p class="col col-sm-12 col-md-auto">.NET Core 6 , Angular v.15</p>
      </div>

      </div>
      </div>

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>touch_app</mat-icon>
        Attendees System 2
      </ng-template>
      <div class=" container container-fluid">
        <div class="row">
        <p class="h5 text-black-50">Info...</p>
        <p >Attendees system for school students using Card barcode
           and using mobile android to collect the data</p>
        <p >
         <code>Visite Demo</code>  <a href="#">Demo</a>
        </p>
        <p><code>Accounts</code> please copy and paste.</p>
        <table  class="w-25 h6 table table-striped table-hover table-responsive-md">
          <thead class=" bg-info">
            <tr>
              <td>Usernname</td>
              <td>Password</td>
              <td>Rule</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>admin</td>
              <td>admin</td>
              <td>admin</td>
            </tr>

          </tbody>
        </table>
      <div class="row border border-1 border-secondary">
        <p class="col col-sm-12 col-md-auto">Framework</p>
        <p class="col col-sm-12 col-md-auto">.NET Core 5 , Angular v.13</p>
      </div>

      </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>touch_app</mat-icon>
        Translate Sign Language to word
      </ng-template>
      <div class=" container container-fluid">
        <div class="row">
        <p class="h5 text-black-50">Info...</p>
        <p >This my idea<mat-icon color="warn">favorite</mat-icon> for the school project in Doha.
           The main idea is how we can translate sign language
            into written or understandable language for the
            natural human being in realtime</p>
        <p >
         <code>Visite Demo</code>  <a href="#">Demo</a>
        </p>
      <div class="row border border-1 border-secondary">
        <p class="col col-sm-12 col-md-auto">Framework</p>
        <p class="col col-sm-12 col-md-auto">Angular v.14, Tensorflow JS, AI(Artificial Intelligence)</p>
      </div>

      </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon >touch_app</mat-icon>
        HelpDesk System
      </ng-template>
      <div class=" container container-fluid">
        <div class="row">
        <p class="h5 text-black-50">Info...</p>
        <p >Simple ticket management

         to organize your entire communication in one place. Switch emails to tickets, and solve IT issues faster. With the HelpDesk dashboard,And simple assets control to speed  your IT support tasks.</p>
        <p >
         <code>Visite Demo</code>  <a href="#">Demo</a>
          </p>
          <p><code>Accounts</code> please copy and paste.</p>
          <table  class="w-25 h6 table table-striped table-hover table-responsive-md">
            <thead class=" bg-info">
              <tr>
                <td>Usernname</td>
                <td>Password</td>
                <td>Rule</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>admin</td>
                <td>admin</td>
                <td>admin</td>
              </tr>

            </tbody>
          </table>
      <div class="row border border-1 border-secondary">
        <p class="col col-sm-12 col-md-auto">Framework</p>
        <p class="col col-sm-12 col-md-auto">.NET Core 6 , Angular v.14</p>
      </div>

      </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon >touch_app</mat-icon>
        Drugs supply with inventory
      </ng-template>
      <div class=" container container-fluid">
        <div class="row">
        <p class="h5 text-black-50">Info...</p>
        <p >
         Drugs supply and inventory control
its big software with many transaction with this software you can receive new item to main inventory,update sale price,forward item to pharmacy,tracks sales,insurance sales and reports,Know the real-time inventory
        </p>
        <p >
         <code>Visite Demo</code>  <a href="#">Demo</a>
        </p>
        <p><code>Accounts</code> please copy and paste.</p>
        <table  class="w-25 h6 table table-striped table-hover table-responsive-md">
          <thead class=" bg-info">
            <tr>
              <td>Usernname</td>
              <td>Password</td>
              <td>Rule</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>admin</td>
              <td>admin</td>
              <td>admin</td>
            </tr>
            <tr>
              <td>pharmacy</td>
              <td>pharmacy</td>
              <td>sales</td>
            </tr>
          </tbody>
        </table>


      <div class="row border border-1 border-secondary">
        <p class="col col-sm-12 col-md-auto">Framework</p>
        <p class="col col-sm-12 col-md-auto">.NET Core 5 , Angular v.14</p>
      </div>

      </div>
      </div>
    </mat-tab>


  </mat-tab-group>
 </div>

</div>
<div class="p-2"></div>
<div class="row">

  <div class="card">
    <div class="card-body">
      <div class=" container container-fluid">
        <p class="h5 text-black-50">Technology's</p><hr>
        <div class="row">
          <ul class=" list-group" style="font-size: 18px;">
            <li class=" list-group-item">
              <mat-icon>open_with</mat-icon>C# .NET Core 5,6 API
              &nbsp;<mat-icon>open_with</mat-icon>Angular JS,
              &nbsp;<mat-icon>open_with</mat-icon>(Solid) Sql Server
              &nbsp;<mat-icon>open_with</mat-icon>(little of) Xamarin Forms,
              &nbsp;<mat-icon>open_with</mat-icon>DevExpress Reports Tools,
              &nbsp;<mat-icon>open_with</mat-icon>Charts JS,
              &nbsp;<mat-icon>open_with</mat-icon>SignalR,

</li>
          </ul>
      </div>
      </div>

    </div>
  </div>
</div>
